<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PowerLine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PowerLine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PowerLine.Properties.Settings>
            <setting name="Location" serializeAs="String">
                <value>ทดสอบจุดที่ 1</value>
            </setting>
            <setting name="NotifyMessage" serializeAs="String">
                <value>ทดสอบการแจ้งเตือนระบบตรวจสอบกระแสไฟฟ้า</value>
            </setting>
            <setting name="EnableLineNotify" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableSmsNotify" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotifyVoltageIssuePeriodInMinutes" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="IntervalCheckVoltTimeInMillisecond" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="NotifyErrorPeriodInMinutes" serializeAs="String">
                <value>1440</value>
            </setting>
        </PowerLine.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <PowerLine.Properties.Settings>
            <setting name="LastNotifyVoltageDateTime" serializeAs="String">
                <value />
            </setting>
            <setting name="LineChannelSecret" serializeAs="String">
                <value>77684d70357e99a163877e6fc45c3561</value>
            </setting>
            <setting name="LineChannelAccessToken" serializeAs="String">
                <value>PzmEFnemYZl+GDkyVQDn/V9v/FJ+1s4EoGLL5PWTSVPdHNMJ+c76/ZEmHfwXa4vW0d4aJJrdCW/50aMVM3RkVRwqJXIjDSck25hqUeRh7rrzkaGBSJU22mf3ZylQwryvV36GSrCId/RPST0BWVZL0gdB04t89/1O/w1cDnyilFU=</value>
            </setting>
            <setting name="LineEndponintApi" serializeAs="String">
                <value>https://api.line.me/v2</value>
            </setting>
            <setting name="EnableErrorNotify" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ErrorMessage" serializeAs="String">
                <value>ทดสอบการแจ้งเตือนระบบตรวจสอบกระแสไฟฟ้า</value>
            </setting>
            <setting name="LastErrorDateTime" serializeAs="String">
                <value />
            </setting>
            <setting name="IsSinglePhase" serializeAs="String">
                <value>False</value>
            </setting>
        </PowerLine.Properties.Settings>
    </userSettings>
</configuration>