<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PowerLine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PowerLine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PowerLine.Properties.Settings>
            <setting name="Location" serializeAs="String">
                <value>จุดที่ 1</value>
            </setting>
            <setting name="NotifyMessage" serializeAs="String">
                <value>กระแสไฟฟ้าถูกตัดที่</value>
            </setting>
            <setting name="EnableLineNotify" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableSmsNotify" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotifyPeriodInMinutes" serializeAs="String">
                <value>1</value>
            </setting>
        </PowerLine.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <PowerLine.Properties.Settings>
            <setting name="LastNotifyDateTime" serializeAs="String">
                <value />
            </setting>
        </PowerLine.Properties.Settings>
    </userSettings>
</configuration>