<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PowerLine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PowerLine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PowerLine.Properties.Settings>
            <setting name="Location" serializeAs="String">
                <value>จุดที่ 1</value>
            </setting>
            <setting name="NotifyMessage" serializeAs="String">
                <value>กระแสไฟฟ้าถูกตัดที่</value>
            </setting>
            <setting name="EnableLineNotify" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableSmsNotify" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotifyPeriodInMinutes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IntervalCheckTimeInMillisecond" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="NotifyErrorPeriodInMinutes" serializeAs="String">
                <value>1440</value>
            </setting>
        </PowerLine.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <PowerLine.Properties.Settings>
            <setting name="LastNotifyDateTime" serializeAs="String">
                <value />
            </setting>
            <setting name="LineChannelSecret" serializeAs="String">
                <value>907ff07d743e00f2309f8883d58cf146</value>
            </setting>
            <setting name="LineChannelAccessToken" serializeAs="String">
                <value>OA8lJuDirWXN07Lp8TahvQMjKajsoB35hGqMzZm9T8SSKZfxb7Eaec5wBS5rnsZ/3fR9obx81xFQ4UCi6SeVTyUyysvA9tQN7aXU5DDZQYEgkGBDTwYZjgg1pfzut2yixDChjY9ecMvT2hQ9aH/HLAdB04t89/1O/w1cDnyilFU=</value>
            </setting>
            <setting name="LineEndponintApi" serializeAs="String">
                <value>https://api.line.me/v2</value>
            </setting>
            <setting name="EnableErrorNotify" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ErrorMessage" serializeAs="String">
                <value>เกิดปัญหาที่ระบบกันขโมยที่</value>
            </setting>
            <setting name="LastErrorDateTime" serializeAs="String">
                <value />
            </setting>
        </PowerLine.Properties.Settings>
    </userSettings>
</configuration>